:root {

    --primary-color: #2563eb;

    --secondary-color: #16a34a;

    --background-color: #f4f6f8;

    --card-color: white;

    --text-color: #222222e9;

    --border-color: #ddd;

    --spacing: 20px;
}


body {

    margin: 0;

    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif, sans-serif;

    background-color: var(background-color);

    color: var(--text-color);

}



.header {

    text-align: cr;

    background-color: var(--primary-color);

    color: white;

    padding: 110px;

}


.header h1 {

    margin: 0 0 10px;

}



.navbar {

    background-color: #222;

    padding: 15px;

    text-align: center;

}


.navbar a {

    color: white;

    text-decoration: none;

    margin: 0 15px;

    font-weight: bold;

}


.navbar a:hover {

    text-decoration: underline;

}


.container {

    width: min(90%, 1000px);

    margin: 30px auto;

}



.card {

    background-color: var(--card-color);

    padding: var(--spacing);

    margin-bottom: 25px;

    border: 1px solid var(--border-color);

    border-radius: 10px;

    box-shadow:
        0 4px 10px rgba(0, 0, 0, 0.08);

}



.card h2 {

    color: var(--primary-color);

}


table {

    width: 100%;

    border-collapse: collapse;

}


th,
td {

    padding: 12px;

    border: 1px solid var(--border-color);

    text-align: left;

}


th {

    background-color: var(--primary-color);

    color: white;

}


tr:hover {

    background-color: #f1f5f9;

}



form {

    display: flex;

    flex-direction: column;

    gap: 10px;

}


input,
select {

    padding: 12px;

    border: 1px solid #ccc;

    border-radius: 6px;

    font-size: 15px;

}




button {

    padding: 12px;

    background-color: var(--secondary-color);

    color: white;

    border: none;

    border-radius: 6px;

    cursor: pointer;

    font-size: 16px;

}


button:hover {

    opacity: 0.9;

}



#message {

    font-weight: bold;

    margin-top: 15px;

}


.footer {

    text-align: center;

    padding: 20px;

    background-color: #222;

    color: white;

}